<footer class="bg-dark text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">

            <!-- Linkedin -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://www.linkedin.com/in/miichaels/" 
            target="_blank" role="button"><i
                    class="fab fa-linkedin-in"></i></a>
                    
            <!-- Github -->
            <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/miichaels" 
            target="_blank" role="button"><i class="fab fa-github"></i></a>

            
        </section>
        <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Todos os direitos reservados: Miichaels   <a class="navbar-brand ml-2 text-light" href="../home/home.component.html"><img class="img" src="https://i.imgur.com/fG5r3qe.png" alt=""></a>

    </div>
    <!-- Copyright -->
</footer>