<div class="container mt-5">

    <div class="row d-flex justify-content-center">



        <div class="  mt-3 mb-5 col-md-5">
            <div>
                <!--Contato-->
                <div class="card ml-2" style="width: 12rem;">
                    <img class="card-img-top img" src="https://i.imgur.com/1HbOL9i.jpg" alt="...">
                </div>
            </div>
        </div>
        <!-- //img e text -->

        <div class="col-md-6 mt-2">
            <h3>Resumo</h3>
            <p>Sou formado em Ed.física onde atuei por alguns anos e acompanhei diversos clientes.
                Decidi migrar para o TI pela minha paixão pela tecnologia e pela oportunidade de crescimento.</p>
            <p>No meu dia a dia, trabalho com diversas tecnologias essenciais, tais como Azure Devops, Git, HTML, CSS, Java e WEM OpenText. </p>
            <p>Estou entusiasmado com a oportunidade de crescer e evoluir no campo da tecnologia e inovação. Mantenho sempre uma grande vontade de aprender e aprimorar minhas habilidades.</p>

        </div>
        <!-- /img e text -->

        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid bg-light mt-3 mb-5 col-md-6">
            <div>

                <!--
                Contato

                <div class="row mt-2 mb-3">
                    <div class="">

                        <h3 class="display-6">Contato</h3>
                        <p><i class="fa fa-whatsapp" aria-hidden="true"> (11) 98743-3440</i></p>
                        <p><i class="fa fa-envelope-o" aria-hidden="true"> Michael_araujo2012@hotmail.com</i></p>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> São Paulo - SP</p>


                    </div>
                    <div class="col-md-6 ">

                    </div>
                </div>
                Contato-->


                <h1 class="display-6">Formação</h1>
                <h6>Anhembi Morumbi (UAM)</h6>
                <p>Graduando: Sistemas para Internet <br> Conclusão: Dez/23
                </p>

                <h6>Bootcamp - Generation Brasil (McKinsey & Company)</h6>
                <p>Desenvolvedor Java Jr Fullstack - Conclusão: Jul/22 </p>

                <h6>Faculdades Metropolitanas Unidas (FMU)</h6>
                <p>Graduado: Educação Física (Bacharelado e Licenciatura) <br>Conclusão: Dez/2018</p>
    
            </div>

            <!--Exp-->

            <div class=" mt-4">
                <h3 class="display-6">Experiência Profissional</h3>

                <h5 class="mt-3">VILT - Consultor Jr</h5>
                <h6>Nov/2022 - Atual</h6>
                <p>Consultor Alocado no cliente Bradesco, integrado à Equipe Bradesco Experience (BE).</p>
                <p>Responsável pela gestão e entrega de conteúdos em sites Web utilizando CMS.</p>
                <p>Participação diária no ambiente de desenvolvimento de produtos digitais, aplicando metodologias ágeis para otimizar processos.</p>
                <p>Realização de análises técnicas e funcionais, concentrando-se na busca por soluções eficazes.</p>
                <p>Elaboração e preparação de propostas técnicas, contribuindo para a comunicação efetiva com os stakeholders.</p>
                <p>Utilização de diversas tecnologias, incluindo Azure DevOps, Git, HTML, CSS, Java e WEM OpenText.</p>
                

                <h5 class="mt-3">Personal Trainer e Professor de Musculação</h5>
                <h6>01/2018 - 03/2022</h6>
                - Auxilio personalizado para clientes particulares.
                <p> - Criação de cronograma especifico de aulas presenciais
                    de acordo com a necessidade e disponibilidade de cada
                    cliente.
                    <br>
                    - Gestão de tempo para atender clientes em diferentes
                    localidades
                    <br>
                    - Atenção aos detalhes para auxílio e correção dos
                    exercícios.
                </p>
            </div>
            <!--Exp-->

        </div>
        <!-- /Jumbotron -->

        <!--Exp-->

        <div class="col-md-6 mt-4">
            <h3 class="display-6">Cursos</h3>


            <h6>Programação de Banco de Dados – Senai Jan-Abr/2024</h6><br>
            <h6>Programação em Kotlin – Senai Set/2023</h6><br>
            <h6>Java Servlet - Programação Web Java Mai/2023</h6><br>
            <h6>Programação em Python - Senai DMar/2023</h6><br>
            <h6>Senai Vila Mariana - Implantação de Serviços em Nuvem - AWS Cloud Practitioner Foundational | Início 22/10/2022 Conclusão Prevista: 19/11/2022</h6><br>
            <h6>Escola da Nuvem - Fundamentos da nuvem AWS -
                Conclusão Prevista: 08/12/22</h6><br>
            <h6>Fundação Fat - Curso AZ-900 Microsoft Azure Fundamentals - Conclusão: 15/10/2022</h6><br>
            <h6>Linkedin Learning - Computação em Nuvem: Noções Básicas: 28/09/2022</h6><br>
            <h6>Bootcamp Generation Brasil (McKinsey & Company)  Desenvolvedor Java Jr FullStack</h6>
            <h6>Conclusão: 15/06/2022 (3 Meses - Integral)</h6>
            <p>Tecnologias:
                - Back-end: Java, POO, Spring Boot, JPA, MySQL, Spring, Postman/Insomnia.
                - Front-end: HTML5, CSS3, Bootstrap, Angular, TypeScript.
                - Metodologia agil Scrum.</p><br>
            <h6 class="mt-3">AWS - Summit São Paulo 2022 : 03 e 04 de Agosto</h6>
            <h6>Microsoft Azure Fundamentals (AZ-900) 13/08/2022 - Ka Solution</h6>

            <h6>Digital Innovation</h6>
            <ol>Lógica de programação essencial <br>
                Dominando IDEs Java<br>
                Criando seu primeiro repositório no GitHub<br>
                Entendendo métodos Java<br>
                Projetos ágeis com SCRUM<br>
                Introdução ao ecossistema e Documentação Java</ol>


            <h6>Ka Solution</h6>
            <ol>AWS Cloud Pratitioner Essentials Day <br>
                Visão Geral do Power BI
            </ol>

            <h6>Alura</h6>
            <ol>Git e GitHub Controle e compartilhe seu código <br>
                Java JRE E JDK</ol>

            <h6>Curso em vídeo</h6>
            <ol>Introdução ao HTML5 e CSS3 40Hrs</ol>

        </div>
        <!--Exp-->


    </div>

</div>