.center{
    text-align: center;
}
.center{
    text-align: center;
}

.margin{
    margin-top: 150px;
    margin-bottom: 200px;
}

.mg{
    margin-top: 150px;
}

.img{
    height: 50px;
    width: 70px;
}
