<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand ml-2 text-light" href=""><img class="img" src="https://i.imgur.com/fG5r3qe.png"
                alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link text-light" href="#Front">Frontend</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" href="#Back">Backend</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" href="#Back">FullStack</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link text-light" href="/cv">Curriculo</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-light" href="https://miichaels.github.io/Links-Contato/"
                        target="_blank">Contatos</a>
                </li>


            </ul>
            <form class="form-inline my-2 my-lg-0">
                <button type="button" class="btn btn-dark"></button>
            </form>
        </div>
    </div>
</nav>
<!-- /Navbar -->