<div class="container">

    <div class="row d-flex justify-content-center">


        <!--texto rotativo-->
        <div class="jumbotron d-flex justify-content-center">
            <div class="conteiner espacamento">
                <h1>Miichaels!</h1>
            </div>
        </div>

        <h5 class="text-center">Tech, About me, Videos, Links...</h5>


        <div class="  mt-3 mb-5 col-md-5">
            <div>
                <!--Contato-->
                <div class="card ml-2">
                    <img class="card-img-top" src="https://i.imgur.com/BPKiGCT.jpg" alt="...">
                </div>
            </div>
        </div>

        <div class="jumbotron d-flex justify-content-center mb-5">
            <div class="conteiner espacamento">
                <div class="estatico"><em class="cor"></em></div>
                <ul class="dinamico">
                    <li><span>Bem Vindo(a)!</span></li>
                    <li><span>É um prazer</span></li>
                    <li><span>Recebelo(a)!</span></li>

                </ul>
            </div>

        </div>


        <div>
            <h1 class="main-title text-center mt-5">My favorite relax song</h1>
        </div>

        <div class="jumbotron d-flex justify-content-center">

            <div class="conteiner espacamento">


                <iframe width="560" height="315" src="https://www.youtube.com/embed/G2Xklh-G2pI?start=1"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
                </iframe>
            </div>
        </div>




        <!--Projetos Front-->
        <div class="back">

            <div id="team-area">


                <div class="row mt-4" id="Front">

                    <div class="col-12">
                        <h1 class="main-title text-center">Projetos Frontend</h1>
                    </div>

                </div>

            </div>



            <!-- Time cards-->

            <div id="team-area">
                <div class="container">

                    <div class="row mt-3">

                        <div class="card ml-4 marginCard" style="width: 13rem;">
                            <img class="card-img-top img" src="https://i.imgur.com/kotY0rK.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Conversor de moeda</h5>
                                <p class="card-text">Primeiro projeto Desenvolvido em JavaScrip</p>
                                <ul class="social-network">
                                    <li>

                                        <a href="https://miichaels.github.io/ConversorDeMoeda/" target="_blank">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </a>

                                        <a href="https://github.com/miichaels/ConversorDeMoeda" target="_blank"
                                            class="icoGithub">
                                            <i class="fa fa-github" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <!-- <div class="card ml-2 marginCard" style="width: 13rem;">
                    <img class="card-img-top img" src="https://i.imgur.com/1HbOL9i.jpg" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Blog Pessoal *Finalizar</h5>
                        <p class="card-text"></p>

                        <ul class="social-network">
                            <li>
                                <a href="" target="_blank">
                                    <i class="fa fa-play" aria-hidden="true"></i>
                                </a>

                                <a href="https://github.com/miichaels/BlogPessoalFront/tree/main/BlogPessoalFront" target="_blank" class="icoGithub">
                                    <i class="fa fa-github" aria-hidden="true"></i>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>-->

                        <div class="card ml-2 marginCard" style="width: 13rem">
                            <img class="card-img-top img" src="https://i.imgur.com/HU57epi.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Sobre a série: Vikings</h5>
                                <p class="card-text">Primeiro projeto criado com Bootstrap</p>
                                <ul class="social-network">
                                    <li>
                                        <a href="https://miichaels.github.io/Vikings-Miichaels/" target="_blank">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </a>

                                        <a href="https://github.com/miichaels/Vikings-Miichaels" target="_blank"
                                            class="icoGithub">
                                            <i class="fa fa-github" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>



                    </div>



                </div>
            </div>
        </div>
        <!--/Projetos Front-->

        <!--Projetos Back-->
        <div class="back">

            <div id="team-area">


                <div class="row mt-4">

                    <div class="col-12" id="Back">
                        <h1 class="main-title text-center">Projetos Backend</h1>
                    </div>

                </div>

            </div>



            <!--cards-->

            <div id="team-area">
                <div class="container">

                    <div class="row mt-3">

                        <div class="card ml-2 marginCard" style="width: 13rem;">
                            <img class="card-img-top img" src="https://i.imgur.com/ud1w6QM.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Genflix</h5>
                                <p class="card-text">Projeto simulando a compra de ingresso em Java - POO</p>
                                <ul class="social-network">
                                    <li>

                                        <a href="https://www.linkedin.com/feed/update/urn:li:activity:6949795603048460290/"
                                            target="_blank">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </a>

                                        <a href="https://github.com/miichaels/Genflix" target="_blank"
                                            class="icoGithub">
                                            <i class="fa fa-github" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="card ml-2 marginCard" style="width: 13rem;">
                            <img class="card-img-top img" src="https://i.imgur.com/YgwYASe.png" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Blog Pessoal</h5>
                                <p class="card-text">Projeto com SpringBoot, MySQL e Swagger</p>

                                <ul class="social-network">
                                    <li>
                                        <a href="https://blogpessoalmiichaels.herokuapp.com/swagger-ui/index.html?configUrl=/v3/api-docs/swagger-config"
                                            target="_blank">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </a>

                                        <a href="https://github.com/miichaels/BlogPessoalBack" target="_blank"
                                            class="icoGithub">
                                            <i class="fa fa-github" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                </ul>

                            </div>
                        </div>


                        <div class="card ml-2 marginCard" style="width: 13rem;">
                            <img class="card-img-top img" src="https://i.imgur.com/korhPX8.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">API de Linguagens</h5>
                                <p class="card-text">Projeto criado com SpringBoot e foi utilizado NoSQL do MongoDB</p>
                                <ul class="social-network">
                                    <li>
                                        <a href="https://www.linkedin.com/posts/miichaels_java-cloud-activity-6957782227879362560-iQwP/?utm_source=linkedin_share&utm_medium=member_desktop_web" target="_blank">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </a>

                                        <a href="https://github.com/miichaels/api-Linguagens" target="_blank" class="icoGithub">
                                            <i class="fa fa-github" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="card ml-2 marginCard" style="width: 13rem;">
                            <img class="card-img-top img" src="https://i.imgur.com/korhPX8.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">API de Sales</h5>
                                <p class="card-text">Projeto criado com SpringBoot e foi utilizado MySQL</p>
                                <ul class="social-network">
                                    <li>
                                        <a href="https://www.linkedin.com/posts/miichaels_fala-pessoal-tudo-bem-hoje-venho-apresentar-activity-6953709791223365632-0lhr/?utm_source=share&utm_medium=member_desktop" target="_blank">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </a>

                                        <a href="https://github.com/miichaels/dsmeta-Sale" target="_blank" class="icoGithub">
                                            <i class="fa fa-github" aria-hidden="true"></i>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>


                    </div>



                </div>
            </div>
        </div>
        <!--/Projetos Back-->


        <!--Projetos FullStack-->

        <div class="fullstack">

            <div id="team-area">


                <div class="row mt-4">

                    <div class="col-12" id="Back">
                        <h1 class="main-title text-center">Projetos FullStack</h1>
                    </div>

                </div>

            </div>



            <!--cards-->

            <div id="team-area">
                <div class="container">

                    <div class="row mt-3">


                        <div class="card ml-2 marginCard" style="width: 13rem;">
                            <img class="card-img-top img" src="https://i.imgur.com/Qs2tVIG.png" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">E-commerce - Projeto Integrador</h5>
                                <p class="card-text"></p>
                                <ul class="social-network">
                                    <li>
                                        <h5>Frontend</h5>
                                        <a href="https://projetointegrador-vida.netlify.app/#/home" target="_blank">
                                            <i class="fa fa-play" aria-hidden="true"></i>
                                        </a>

                                        <a href="https://github.com/miichaels/Projeto-Integrador-Front" target="_blank"
                                            class="icoGithub">
                                            <i class="fa fa-github" aria-hidden="true"></i>
                                        </a>

                                        <h5>Backend</h5>
                                        <a href="https://github.com/miichaels/Projeto-Integrador" target="_blank"
                                            class="icoGithub">
                                            <i class="fa fa-github" aria-hidden="true"></i>
                                        </a>
                                    </li>


                                </ul>
                            </div>
                        </div>



                    </div>



                </div>
            </div>
        </div>



        <!--Projetos FullStack-->

    </div>
</div>


<div id="team-area">
    <div class="container">

        <h3 class="mt-5 text-center">Agradecimentos as instituições de ensino, Plataformas, Serviços e Professores que
            apoiam o ensino da tecnologia, e a cada dia contribuem em meu aprendizado!!</h3>
        <div class="rotatingList">
            <div class="list">
                <div class="card2 "><img src="https://i.imgur.com/1Vypzue.png" alt="Curso em Video"></div>
                <div class="card2"><img src="https://i.imgur.com/ljiAm2s.png" alt="Generation Br"></div>
                <div class="card2"><img src="https://i.imgur.com/WMyZ5PS.png" alt="Udemy"></div>
                <div class="card2"><img src="https://i.imgur.com/1RZy082.png" alt="Senai"></div>
                <div class="card2"><img src="https://i.imgur.com/qLETF05.png" alt="Escola da Nuvem"></div>
                <div class="card2"><img src="https://i.imgur.com/0Y4PGip.png" alt="Digital innovation one"></div>
                <div class="card2"><img src="https://i.imgur.com/QxRNNZl.png" alt="Fundação FAT"></div>
                <div class="card2"><img src="https://i.imgur.com/41DhpRW.png" alt="AWS"></div>
                <div class="card2"><img src="https://i.imgur.com/vEhkhdv.png" alt="FIAP"></div>
                <div class="card2"><img src="https://i.imgur.com/57WQtvu.png" alt="Azure"></div>
                <div class="card2"><img src="https://i.imgur.com/aZdjO4N.png" alt="Alura"></div>
                <div class="card2"><img src="https://i.imgur.com/SqSUw6N.png" alt="Linkedin"></div>
                <div class="card2"><img src="https://i.imgur.com/TKoWQ9l.png" alt="Nelio Alves"></div>
                <div class="card2"><img src="https://i.imgur.com/n3J6Q3W.png" alt="Michelli brito"></div>


            </div>
        </div>
    </div>
</div>