<div class="container">

    <div class="row">

        <!-- Texto e Video -->
        <div class="row mt-5">
            <div class="col-md-3">
                <div class="card ml-2" style="width: 12rem;">
                    <img class="card-img-top img" src="https://i.imgur.com/1HbOL9i.jpg" alt="...">
                </div>

            </div>
            <div class="col-md-7 mt-5">
                <h3>Michael Silva</h3>
                <p>Olá, me chamo Michael Silva.</p>
                <p>Sou formado em Educação física, com 6 anos de experiência na área.</p>
                <p>Atualmente estou em transição de carreira para a área de tecnologia, onde descobri uma nova
                    oportunidade de crescimento.</p>
            </div>

        </div>
        <!-- /Texto e Video -->
        <!-- Jumbotron -->
        <div class="jumbotron jumbotron-fluid bg-light mt-3 mb-5 col-md-5">
            <div>
                <!--Contato-->

                <div class="row mt-2 mb-3">
                    <div class="">

                        <h3 class="display-6">Contato</h3>
                        <p><i class="fa fa-whatsapp" aria-hidden="true"> (11) 98743-3440</i></p>
                        <p><i class="fa fa-envelope-o" aria-hidden="true"> Michael_araujo2012@hotmail.com</i></p>
                        <p><i class="fa fa-map-marker" aria-hidden="true"></i> São Paulo - SP</p>


                    </div>
                    <div class="col-md-6 ">

                    </div>
                </div>
                <!--Contato-->


                <h1 class="display-6">Formação</h1>
                <h6>Anhembi Morumbi (UAM)</h6>
                <p>Graduando: Sistemas para Internet - (Terceiro Semestre) 06/21 - 12/23</p>
                <h6>Bootcamp - Generation Brasil (McKinsey & Company)</h6>
                <p>Desenvolvedor Java Jr Fullstack - 14/03/22 - 15/06/22 </p>
                <h6>Faculdades Metropolitanas Unidas (FMU)</h6>
                <p>Graduado: Educação Física (Bacharelado e Licenciatura) - 2014 - 2018</p>
            </div>
        </div>
        <!-- /Jumbotron -->

        <div class="col-md-6 mt-4">
            <h3 class="display-6">Experiência Profissional</h3>
            <h5 class="mt-3">Personal Trainer 2018 - 03/2022</h5>
            - Auxilio personalizado para clientes particulares.
            <p> - Criação de cronograma especifico de aulas presenciais
                de acordo com a necessidade e disponibilidade de cada
                cliente.
                <br>
                - Gestão de tempo para atender clientes em diferentes
                localidades
            </p>

            <h5 class="mt-3">Companhia Athletica (Morumbi Shopping)</h5>
            <h6>Professor de Musculação | 09/2021 – 03/2022</h6>
            <p>- Prescrição de treinamentos personalizados para os
                alunos, atendendo suas necessidades.
                <br>
                - Correção e auxílio na execução dos exercícios.</p>

            <h3></h3>


        </div>



    </div>

</div>